/* Colors */
$btn-default: #ebebeb;
$btn-primary: #0366d6;
$btn-secondary: #607d8b;
$btn-danger: #ce352c;
$btn-success: #60a917;
$btn-warning: #ff9447;
$btn-info: #5ebdec;
$btn-dark: #505050;
$btn-light: #f8f8f8;
$btn-dark-color: #1d1d1d;
$btn-light-color: #fff;

/* Mixins */
@mixin btn-theme($textColor, $bgColor) {
    // @extend %button;
    color: $textColor;
    background: $bgColor;
    border-color: darken($bgColor, 7%);

    &.outline {
        background: transparent;

        @if $textColor==$btn-light-color {
            color: $bgColor;
        }

        @if $textColor==$btn-dark-color {
            color: $btn-dark-color;
        }

        // color  : $bgColor;
        border: 1px solid $bgColor;

        &:hover {
            @if $textColor==$btn-dark-color {
                color: $btn-dark-color;
            }

            @if $textColor==$btn-light-color {
                color: $btn-light-color;
            }
        }
    }

    &:hover {
        @include btn-theme-hover($bgColor);
    }
}

@mixin btn-theme-hover($btn-color, $hover-color: "") {
    @if $hover-color== "" {
        $hover-color: darken($btn-color, 7%);
        $hover-color: darken($hover-color, 7%);
    }

    background: $hover-color;
    border-color: darken($btn-color, 20%);
}

@mixin btn-theme-disabled($btn-color) {
    background: lighten($btn-color, 20%);
    border-color: lighten($btn-color, 10%);
    cursor: not-allowed;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

%button {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: calculateRem(0.5px);
    font-size: calculateRem(13px);
    border: 1px solid transparent;
    padding: calculateRem(6px) calculateRem(14px);
    // border-radius : calculateRem(4px);
    line-height: 1.5;
    transition: all 0.15s ease-in-out;

    &:last-child {
        margin-left: 0;
    }
}

.btn {
    @extend %button;
    @include btn-theme($btn-dark-color, $btn-default);

    &.primary {
        @include btn-theme($btn-light-color, $btn-primary);
    }

    &.secondary {
        @include btn-theme($btn-light-color, $btn-secondary);
    }

    &.success {
        @include btn-theme($btn-light-color, $btn-success);
    }

    &.info {
        @include btn-theme($btn-light-color, $btn-info);
    }

    &.warning {
        @include btn-theme($btn-light-color, $btn-warning);
    }

    &.dark {
        @include btn-theme($btn-light-color, $btn-dark);
    }

    &.light {
        @include btn-theme($btn-dark-color, $btn-light);
    }

    &.danger {
        @include btn-theme($btn-light-color, $btn-danger);
    }

    &.link {
        @include btn-theme($btn-dark-color, transparent);

        &:hover {
            text-decoration: underline;
        }
    }
}

.btnList {
    button {
        margin-right: calculateRem(6px);
        margin-bottom: calculateRem(10px);
    }
}
