$default: #ebebeb;
$primary: #03a9f4;
$secondary: #e91e63;
$danger: #e74c3c;
$success: #4caf50;
$warning: #f0ad4e;
$info: #5bc0de;
$dark: #18232f;
$light: #eceff1;
$dark-color: #1d1d1d;
$light-color: #fff;
