$default: #efefef;
$primary: #373ebd;
$secondary: #6c389f;
$danger: #bd3740;
$success: #307147;
$warning: #f0ad4e;
$info: #5bc0de;
$dark: #18232f;
$light: #eceff1;
$dark-text-color: rgb(67, 90, 111);
$light-text-color: #fff;
